body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
 }
 
 .logo {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
 }
 
 h2{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 35px;
    color: purple;
    margin-left: 35px;
 }
 
 section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
 }
 
 .inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
 
 /* .container {
   height: 20%;
 } */
 
 table{
    display: none;
 }
 
 .inputs > div {
    padding: 0 0 25px 0;
 }
 
 label {
    padding-left: 25px;
 }
 
 #selector, #amount {
    width: 300px;
    height: 35px;
 }

 .spend-btn  {
    width: 306px;
    height: 35px;
     background-color: lightgray;
     margin-top: 20px;
 }
 
 #piechart {
    margin-left: 128px;
 }
 @media only screen and (min-width: 768px){
 
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Oswald', sans-serif;
         overflow-y: hidden;
 
    }
 
    .logo{
        transform: translateY(30px);
    }
 
 
    section {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-top: 75px;
    }
 
    h2 {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        font-size: 40px;
        color: purple;
 
    }
 
    .inputs {
        display: flex;
        flex-direction: column;
        /* align-items: flex-start; */
        width: 50%;
    }
 
    .container {
        display: flex;
        flex-direction: column;
        width:80%
        /* align-items: flex-start; */
 
    }
 
    .inputs > div {
        padding: 0 0 25px 0;
    }
 
    label {
        padding-left: 25px;
    }
 
    #selector, #amount, .spend-btn {
        min-width: 300px;
        height: 35px;
    }
 

    #piechart {
 
        height: 150px;
        transform: translateY(-80px);
 
    }
 
    .container_row > table {
        transform: translateY(-115px);
        transform: translateX(-45px);
 
    }
 
    #piechart > div {
        height: 225px;
 
    }
 
    table {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 150px;
        width: 40%;
        background-color: lightgray;
       font-size: 20px;
       
 
    }
    body > div > table {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 152px;
        transform: translateY(400px);
    }
 
    body > div > table > thead{
        width: 500px;
    }
    
    body > div > table > tbody > tr {
        display: flex;
        flex-direction: row;
        width: 500px;
        justify-content: space-evenly;
    }

    body > div > table > thead > tr {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
    }
 
    body > div > table > tbody > tr:nth-child(1) {
        display: flex;
        justify-content: space-between;
        background-color: lightgray;
        color: blue;
    }
 
    body > div > table > tbody > tr:nth-child(2) {
        display: flex;
        justify-content: space-between;
        background-color: lightgray;
        color: red;
    }
 
    body > div > table > tbody > tr:nth-child(3) {
        display: flex;
        justify-content: space-between;
        background-color: lightgray;
        color: orange;
    }
 
    body > div > table > tbody > tr:nth-child(4){
        display: flex;
        justify-content: space-between;
        background-color: lightgray;
        color: green;
    }
 
 }